@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var selection = Umbraco.Content(Guid.Parse("23cf5f2e-694a-4ce4-8768-3604bdf7e49b"))?
        .Children()
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();

    var itemsPerSlide = 3;
    var itemsTotal = selection?.Count ?? 0;
    var amoutOfSlides = Math.Ceiling((decimal)itemsTotal / itemsPerSlide) - 1;

    var sectionTitle = Model.Value("articleAndNewsCarouselSectionTitle") == null ? "Article & News (Static)" : Model.Value("articleAndNewsCarouselSectionTitle")!.ToString();
    var heading = Model.Value("articleAndNewsCarouselHeading") == null ? "Get Every Single Articles & News (Static)" : Model.Value("articleAndNewsCarouselHeading")!.ToString();
    var buttonText = Model.Value("articleAndNewsCarouselButtonText") == null ? "Browse Articles" : Model.Value("articleAndNewsCarouselButtonText")!.ToString();
    var buttonUrl = Model.Value("articleAndNewsCarouselButtonUrl") == null ? "/news" : Model.Value("articleAndNewsCarouselButtonUrl")!.ToString();
}


<!-- article-and-news-carousel -->
<section class="article-and-news-carousel">
    <div class="container">
        <div class="d-flex justify-content-between margin">
            <div>
                <p class="heading-sm">@sectionTitle</p>
                <h2 class="font-dm-lg-heading">@heading</h2>
            </div>
            <div class="d-flex justify-content-end align-items-end"">
                <a href=" @buttonUrl">
                    <button class=" yellow-btn">@buttonText <i
                        class="fa-regular fa-arrow-up-right"></i></button>
                </a>
            </div>
        </div>
        <!-- carousel -->
        <div id="carouselArticleNews" class="carousel slide">

            <!-- carousel-inner -->
            <div class="carousel-inner">
                @if(selection != null)
                {
                    for (int i = 0; i <= amoutOfSlides; i++ )
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <div class="article-and-news-grid">
                                @foreach (var item in selection.Skip(i * itemsPerSlide).Take(itemsPerSlide))
                    	        {
                    	            var url = item.Url();
                    	            var name = item.Name();
	            	                var image = item.Value<IPublishedContent>("articleImage");
	            	                var date = item.CreateDate;
	            	                var category = item.Value("articleCategory");
	            	                var preamble = item.Value("articlePreamble");
                    		
                                    
                                    <div class="article-and-news-card">
                                        <a href="@url">
                                            <div class="img-holder">
                                                <img
                                                    src="@image?.Url()" />
                                                <div class="square">
                                                    <p class="date"><span>@date.ToString("dd")</span><br>@date.ToString("MMM")</p>
                                                </div>
                                            </div>
                                            <p class="font-grey topic">@category</p>
                                            <h3 class="font-dm-sm-heading">@name</h3>
                                            <p class="font-grey description">@preamble</p>
                                        </a>
                                    </div>
                    	        }
                            </div>
                        </div>
                    }
                }
            </div>

            <!-- carousel-indicators -->
            <div class="carousel-indicators">
                @for (int i = 0; i <= amoutOfSlides; i++)
                {
                    if( i == 0)
                    {
                        <div type="button" data-bs-target="#carouselArticleNews" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i"></div>
                    }
                    else
                    {
                        <div type="button" data-bs-target="#carouselArticleNews" data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i"></div>
                    }
                }
            </div>
        </div>
    </div>
</section>