@using Crito.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var contactForm = new ContactForm();
}

<!-- contact-form -->
<section class="contact-form" id="contact-form-section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <p class="font-dm-lg-heading">@Model.Value("contactFormHeading")</p>
        </div>
        @using (Html.BeginUmbracoForm("Index", "Contacts", FormMethod.Post, new { @novalidate = "novalidate", id = "contact-form", onsubmit = "validateContactForm(event)" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger ms-4 mb-5 no-bullets text-center"></div>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="text-success mb-5 text-center" id="contact-form-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["AlreadyRegisteredMessage"] != null)
            {
                <span class="text-danger mb-5 text-center" id="contact-form-already-registered">@TempData["AlreadyRegisteredMessage"]</span>
            }
            
            <label hidden>Name*</label>
            <input asp-for="@contactForm.Name" required type="text" placeholder="Name*" id="contact-name-input" onkeyup="errorMessageContactName(event)" class="mb-0">
            <span class="text-danger ms-4 mt-1" id="contact-name-error"></span>
            <span asp-validation-for="@contactForm.Name" class="text-danger mb-3 ms-4"></span>


            <label hidden>Email*</label>
            <input asp-for="@contactForm.Email" required type="email" placeholder="Email*" id="contact-email-input" onkeyup="errorMessageContactEmail(event)" class="mb-0">
            <span class="text-danger ms-4 mt-1" id="contact-email-error"></span>
            <span asp-validation-for="@contactForm.Email" class="text-danger mb-3 ms-4"></span>


            <label hidden>Your Message*</label>
            <textarea asp-for="@contactForm.Message" required placeholder="Your Message*" id="contact-message-input" onkeyup="errorMessageContactMessage(event)" class="mb-0"></textarea>
            <span class="text-danger ms-4 mt-1" id="contact-message-error"></span>
            <span asp-validation-for="@contactForm.Message" class="text-danger mb-3 ms-4"></span>


            <button type="submit" class="yellow-btn">
                Send Message
                <i class="fa-regular fa-arrow-up-right"></i>
            </button>
        }
    </div>
</section>