@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- contact-info-boxes -->
<section class="contact-info-boxes">
    <div class="container">
        <div class="info-box-holder">
            <div class="info-box">
                <p class="contact-icon"><i class="fa-solid fa-location-dot"></i></p>
                <div>
                    <p class="prompt font-dm-sm-heading">Visit Us</p>
                    <p class="info">@Model.Value("contactInformationStreetName")<br>
                        @Model.Value("contactInformationPostalCode") @Model.Value("contactInformationCity")</p>
                </div>
            </div>
            <div class="info-box">
                <p class="contact-icon"><i class="fa-solid fa-phone"></i></p>
                <div>
                    <p class="prompt font-dm-sm-heading">Call Us</p>
                    <p class="info">@Model.Value("contactInformationPhoneNumber1")<br>
                        @Model.Value("contactInformationPhoneNumber1")</p>
                </div>
            </div>
            <div class="info-box">
                <p class="contact-icon"><i class="fa-solid fa-envelope"></i></p>
                <div>
                    <p class="prompt font-dm-sm-heading">Email Us</p>
                    <p class="info">@Model.Value("contactInformationEmail1")<br>
                        @Model.Value("contactInformationEmail2")</p>
                </div>
            </div>
        </div>
    </div>
</section>