@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var selection = Umbraco.Content(Guid.Parse("32d4b0de-c378-4897-833d-5df91bf562bb"))
        .ChildrenOfType("ourTeamDetailPage")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();

    var itemsPerSlide = 4;
    var itemsTotal = selection?.Count ?? 0;
    var amoutOfSlides = Math.Ceiling((decimal)itemsTotal / itemsPerSlide) - 1;
}

<!-- our-team-carousel -->
<section class="our-team-carousel">
    <div class="container">
        <div class="d-flex justify-content-between heading">
            <div>
                <p class="heading-sm">@Model.Value("meetOurTeamSectionTitle")</p>
                <h1 class="font-dm-lg-heading">@Model.Value("meetOurTeamHeading")</h1>
            </div>
            <div class="d-flex align-items-end">
                <a href="@Model.Value("meetOurTeamButtonUrl")">
                    <button class="black-btn">@Model.Value("meetOurTeamButtonText")<i class="fa-regular fa-arrow-up-right"></i></button>
                </a>
            </div>
        </div>
        <!-- carousel, bootstrap base -->
        <div id="carouselOurTeam" class="carousel slide">

            <!-- carousel-inner -->
            <div class="carousel-inner">
                <!-- this part, with help from Sara Lindström -->
                @for (int i = 1; i <= amoutOfSlides+1; i++ )
                {
                    <div class="carousel-item @(i == 1 ? "active": "")">
                        <div class="our-team-grid">
                            @foreach (var item in selection?.Skip((i - 1) * itemsPerSlide).Take(itemsPerSlide))
                    	    {
                    	        var url = item.Url();
                    	        var name = item.Name();
                    	        var jobTitle = item.Value("teamWorkerJobTitle");
	            	            var image = item.Value<IPublishedContent>("teamWorkerImage");
                    		
                                <div class="team-card">
                                    <a href="@url">
                                        <div class="img-holder">
                                            <img
                                                src="@image.Url()" />
                                        </div>
                                        <h3 class="font-dm-sm-heading">@name</h3>
                                        <p class="font-grey">@jobTitle</p>
                                    </a>
                                </div>
                    	    }
                        </div>
                    </div>
                }
                <!-- this part, with help from Sara Lindström -->
            </div>

            <!-- carousel-indicators -->
            <div class="carousel-indicators">
                @for (int i = 0; i <= amoutOfSlides; i++)
                {
                    if( i == 0)
                    {
                        <div type="button" data-bs-target="#carouselOurTeam" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i"></div>
                    }
                    else
                    {
                        <div type="button" data-bs-target="#carouselOurTeam" data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i"></div>
                    }
                }
            </div>
        </div>
    </div>
</section>