@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@using Umbraco.Cms.Core.Models.PublishedContent;


<!-- showcase -->
<section class="showcase">
    <img src="./images/graphics/background-lines.svg" class="graphic-lines" />
    <div class="container">
        <div class="showcase-text">
            <h1>@Model.Value("showcaseTitle")</h1>
            <p>@Model.Value("showcaseDescription")</p>
            <div class="btn-holder">
                <a href="@Model.Value("showcaseButtonUrl")">
                    <button class="yellow-btn">
                        @Model.Value("showcaseButtonText")
                        <i class="fa-regular fa-arrow-up-right"></i>
                    </button>
                </a>
                <a href="#"> 
                    <button class="yellow-btn">
                        Learn More<i class="fa-regular fa-arrow-up-right"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="img-holder">
            @{
                var showcaseImage = Model.Value<MediaWithCrops>("showcaseImage");

                if (showcaseImage != null)
                {
                    <img src="@showcaseImage.MediaUrl()" alt="@Model.Value("showcaseTitle")" />
                }
            }
        </div>
    </div>
</section>