@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<!-- testimonial -->
<section class="testimonial">
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <p class="heading-sm">@Model.Value("testimonialSectionTitle")</p>
            <h2 class="font-dm-lg-heading">@Model.Value("testimonialHeading")</h2>
        </div>
        <div class="testimonial-grid">
            @Html.GetBlockListHtml(Model.Testimonials)
        </div>
        <div class="d-flex justify-content-center">
            <a href="@Model.Value("testimonialButtonUrl")">
                <button class="black-btn">@Model.Value("testimonialButtonText")<i class="fa-regular fa-arrow-up-right"></i></button>
            </a>
        </div>
    </div>
</section>